[Desktop Entry]
Encoding=UTF-8
Name=Link to Sign up
Type=Link
URL=https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home
Icon=text-html
